#
# Sharp Touchscreen tma443 configuration
#

config SHTPS_TMA4XX_FACETOUCH_DETECT
	bool "SHTPS_TMA4XX_FACETOUCH_DETECT"
	default n
	depends on SHTPS_TMA4XX_TMA443

config SHTPS_TMA4XX_FACETOUCH_OFF_DETECT
	bool "SHTPS_TMA4XX_FACETOUCH_OFF_DETECT"
	default n
	depends on SHTPS_TMA4XX_TMA443
